{
  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs" // https://facebook.github.io/jest/docs/webpack.html#using-with-webpack-2
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false,
        "exclude": [
          "transform-regenerator",
          "transform-async-to-generator"
        ],
        "targets": {
          "node": "6.10.2"
        }
      }
    ],
    "flow"
  ],
  "plugins": [
    "fast-async",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
