{
  "env": {
    "test": {
      "presets": [
        "env",
        "flow"
      ]
    },
    "development": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "exclude": [
              "transform-regenerator",
              "transform-async-to-generator"
            ]
          }
        ],
        "flow"
      ]
    }
  },
  "plugins": [
    "fast-async"
  ]
}
