{
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": "commonjs", // https://facebook.github.io/jest/docs/webpack.html#using-with-webpack-2
          }
        ]
      ]
    }
  },
  "presets": [
    [
      "env",
      {
        "modules": false,
        "exclude": [
          "transform-regenerator",
          "transform-async-to-generator"
        ]
      }
    ],
    "flow"
  ],
  "plugins": [
    "fast-async"
  ]
}
