{
  "env": {
    "node": true,
    "jest": true,
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "prettier/react",
    "plugin:flowtype/recommended",
  ],
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "prettier",
    "promise",
    "flowtype",
  ],
  "rules": {
    "no-console": 0, # Console needed for serverless debugging.
    "no-use-before-define": 0, # I like the logic going from highlevel to lowlevel.
    "no-shadow": 0, # Shadowing is a nice language feature. Naming is hard.
    "no-nested-ternary": 0, # Helps brevity of the code.
    "import/prefer-default-export": 0, # Keep imports of helper functions consistent.
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "printWidth": 80,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
      }
    ],
    "promise/always-return": "error",
    "promise/no-return-wrap": "error",
    "promise/param-names": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "promise/no-nesting": "warn",
    "promise/no-promise-in-callback": "warn",
    "promise/no-callback-in-promise": "warn",
    "promise/avoid-new": "off",
    "promise/prefer-await-to-then": "error",
    "promise/prefer-await-to-callbacks": "off",
    "flowtype/require-valid-file-annotation": [
      "warn",
      "always", {
        "annotationStyle": "line"
      }
    ]
  }
}
